<script>
export default {
  data: () => ({
    messages: [
      {
        from: "Name",
        message: `Mutita Nuangjamnong`,

        color: "deep-purple-lighten-1",
      },
      {
        from: "Student ID",
        message: "63160214",

        color: "blue",
      },
      {
        from: "Personal",
        message: "Age : 21  Gender : Female",

        color: "yellow",
      },
      {
        from: "Education",
        message: "Bachelor's degree",

        color: "green",
      },

      {
        from: "Interests",
        message: "Back-end developer",

        color: "red",
      },
    ],
  }),
};
</script>

<template>
  <v-parallax
    src="https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80"
  >
    <v-container>
      <v-row justify="space-around">
        <v-card width="400">
          <v-img
            height="300"
            src="https://avatars.githubusercontent.com/u/60308787?v=4"
            cover
            class="text-white"
          >
            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
              <template v-slot:prepend> </template>

              <v-toolbar-title class="text-h4"> PORTFOLIO </v-toolbar-title>

              <template v-slot:append>
                <v-btn icon="mdi-dots-vertical"></v-btn>
              </template>
            </v-toolbar>
          </v-img>

          <v-card-text>
            <div class="font-weight-bold ml-1 mb-2">Profile</div>

            <v-timeline density="compact" align="start">
              <v-timeline-item
                v-for="message in messages"
                :key="message.time"
                :dot-color="message.color"
                size="x-small"
              >
                <div class="mb-4">
                  <div class="font-weight-normal">
                    <strong>{{ message.from }}</strong>
                  </div>
                  <div>{{ message.message }}</div>
                </div>
              </v-timeline-item>
            </v-timeline>
          </v-card-text>
        </v-card>
      </v-row>
    </v-container>
  </v-parallax>
</template>
